# Python / Django
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
db.sqlite3
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django Media & Static (Collected)
media/
staticfiles/

# NOTA: No ignoramos 'migrations/' porque es importante versionar los cambios de esquema.
# Solo ignoramos el cache dentro de ellas si existiera.